.second-nav {
    display: flex;
    justify-content: space-between;
    
}

.topics {
    padding: 2.4rem;
    margin-top: .4rem;
}

.left-nav-buttons {
    display: flex;
}

.topics button{
    font-size: .8rem;
    padding: 8px 10px;
    background-color: white;
    border-radius: .5rem;
    color: #474747;
    text-decoration: none;
    margin-right: 1rem;
    border: none;
    display: flex;
    align-items: center;

}

.topics button .icon {
    margin-right: .6rem;
    font-size: 1.2rem;
}

.right-nav-buttons button {
    background-color: #FF4509;
    color: white;
    margin: 0!important;
}

