.activity {
    text-align: left;
}

.activity-title {
    font-size: .8rem;
}

.user-img {
    display: flex;
}

.user {
    width: 15px !important;
    margin-right: 5px !important;
}

.user-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .3rem 0 1rem 0;
}

.user-details span, p{
    font-size: .6rem;
}

.sub-reddit {
    background-color: #f6f6f6;
    padding: 5px 5px;
    border-radius: .5rem;
}

.faregcomment {
    padding-right: 4px;
}